#mpris {
    color: @wb-fg;
    font-size: 15px;
    font-weight: bold;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
